<!DOCTYPE html>
<html>
<head>
	<title>User Registration</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\revan\fitness-tracker\public\login-style.css">
</head>
<body>
	<div class="registration-text">
	<h1>Login Page</h1>
    </div>
	<form action="/register" method="POST">
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>

		<input type="submit" value="Register">
	</form>
	<script src="C:\Users\revan\fitness-tracker\public\login.js"></script>
</body>
</html>
