<!DOCTYPE html>
<html>
<head>
	<title>User Registration</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\revan\fitness-tracker\public\style.css">
</head>
<body>
	<div class="registration-text">
	<h1>User Registration</h1>
    </div>
	<form action="/register" method="POST">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" required>

		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>

		<label for="confirmPassword">Confirm Password:</label>
		<input type="password" id="confirmPassword" name="confirmPassword" required>

		<input type="submit" value="Register">
	</form>

	<p>Already have an account? <a href="/login">Log in here</a>.</p>
	<p>By clicking "Register" you agree to our <a href="/terms">terms and conditions</a>.</p>
	<script src="C:\Users\revan\fitness-tracker\public\register.js"></script>
</body>
</html>
